@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


:root{
  --emailBlue: hsl(217, 28%, 15%);
  --backgroundBlue: hsl(218, 28%, 13%);
  --footerBlue: hsl(216, 53%, 9%);
  --testimonialBlue: hsl(219, 30%, 18%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Open Sans;
  font-size: 14px;
  color: #fff;
}

body{
  max-width: 1440px;
  background: var(--emailBlue);
  width: 100%;
  margin: 0 auto;
}

.container{
  margin: 0 auto;
}

      /* designs for header */
header{
  background: url("./images/bg-curvy-desktop.svg") no-repeat;
  background-position: 50% 100%  ;
  text-align: center;
  margin: 0;
  height: auto;

}

.flex_flex{
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 3em 1.5em 4em 1.5em;
  font-family: Raleway;
}

.flex_1 img{
  width: 60%;
}

.flex_2 ul{
  display: flex;
  justify-content: space-between;
}

.flex_2 li{
  display: block;
  padding: 0 1.2em;
}

.flex_2 li a{
  text-decoration: none;
  text-transform: capitalize;
  font-family: Raleway;
}


    /* designs for sections */

.section{
  margin: 0 auto;
  text-align: center;
  background: var(--backgroundBlue);
  /* background: url("./images/bg-curvy-desktop.svg") no-repeat;
  background-position: bottom center;
  background-size: 100%; */
}

/* .first_section{
  background: url("./images/bg-curvy-desktop.svg") no-repeat;
  background-position: center bottom;
} */


.first_section img{
  width: 55%;
}

.first_section h2{
  font-size: 2.5em;
  max-width: 70%;
  text-align: center;
  margin: .5em auto;
  word-spacing: .2em;
  font-family: Raleway;
}

.first_section p{
  max-width: 55%;
  margin: .3em auto;
  padding: .5em;
  font-size: 1.3em;
}

.first_section button{
  margin: .3em;
  padding: 1% 6%;
  border-radius: 20px;
  background: linear-gradient(90deg, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  -webkit-background: linear-gradient(90deg, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  -moz-background: linear-gradient(90deg, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  border: none;
}

.first_section .btn{
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 200;
}

      /* grid section in the second segment  */

.second_section{
    margin: 6em auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-column-gap: 10%;
    grid-row-gap: 14%;
    width: 75%;
    justify-items: center;
    align-items: center;
}

.second_section .grid img{
  margin: 4% auto;
  width: 20%;
}

.second_section .grid_section_2 img{
  width: 15%;
}


.second_section .grid h4{
  margin-bottom: .5em;
  font-family: Raleway;
  letter-spacing: .1em;
}

.third_section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5em auto;
  align-items: center;
  justify-items: center;
  margin: 12% 3%;
}

.third_section .img_grid img{
  width: 90%;
}

.third_section .text_grid{
  text-align: left;
}

.third_section .text_grid h1{
  font-size: 2em;
  max-width: 70%;
  font-weight: 600;
  letter-spacing: .09em;
}

.third_section .text_grid p{
  margin: 1em 0;
  font-size: 1em;
}

.third_section .text_grid span{
  width: 25%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid hsl(176, 68%, 64%);
  padding: .14em 0;
}

.third_section .text_grid a{
  color: hsl(176, 68%, 64%);
  text-decoration: none;
  width: 100%;
  font-size: .8em;
  margin-right: .7%;
}

.third_section .text_grid span img{
  width: 11%;
}

      /* designs for the forth section */

.forth_section{
  position: relative;
  display: flex;
  justify-content: space-around;
  margin: 15% auto;
  width: 92%
}

.forth_section > img{
  position: absolute;
}

.testimonies{
  width: 35%;
  background: var(--emailBlue);
  padding: 3% 2% 2% 2%;
  margin: 1%;
  text-align: left;
}


.testimonies span{
  width: 60%;
  margin-top: 2%;
}

.testimonies span img{
  width: 10%;
  border-radius: 50%;
  float: left;
  margin: 3% 2% 0% 0%;
}

.testimonies span div{
  text-align: left;
}
